.idea

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/playground
/.cache

# production
/dist
src/**/*.js
src/**/*.js.map
src/**/*.s.spec.ts
src/**/*.s.spec.js
src/**/*.s.spec.js.map

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.vscode

# CMake
cmake-build-*/
